#amazing, #great, #okay, #notgreat, #awful{
    border-radius: 50%;
    width: 78px;
    height: 78px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#am, #gr, #ok, #ng, #aw{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

html {
  font-size: 62.5%;
  }

#awful, #aw{
    background-color: rgb(245, 209, 202);
}

#notgreat, #ng{
  background-color: rgb(250, 219, 161);
}

#okay, #ok{
  background-color: rgb(228, 218, 127);
}

#great, #gr{
  background-color: rgb(217, 218, 157);
}

#amazing, #am{
  background-color: rgb(157, 167, 135);
}

form, #changedays{
  position: absolute; /* Stay in place */
  padding-left: 500px;
  padding-top: 450px;
}

.post{
  background-color: rgb(214, 214, 214);
  padding: 20px;
  margin: 10px;
  }
  
  .modal {
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 320px; /* Location of the box */
  padding-left: 300px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  }
  
  .container {
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  color: black;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  }
  
  .calendar {
  width: 45rem;
  height: 52rem;
  background-color: white ;
  }
  
  .month {
  width: 410px;
  height: 12rem;
  display: flex;
  padding: 17px;
  justify-content:space-between;
  align-items: center;
  }
  
  .weekdays {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  }
  
  .weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  }
  
  .days div {
  border-radius: 50%;
  font-size: 1.4rem;
  margin: 0.55rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(163, 163, 163);
  transition: background-color 0.2s;
  }
  
  .days div:hover:not(.today) {
  border: 0.1rem solid rgb(163, 163, 163);
  cursor: pointer;
  }
  
  .prev-date,
  .next-date {
  opacity: 0.5;
  }
  
  #gráficos{
  position: absolute; /* Stay in place */
  padding-left: 530px;
  padding-top: 230px;
  font-size: 40px;
  display: grid;
  grid-template-columns: auto auto;
  opacity: 0;
  }
  
  #other{
  position: absolute;
  margin-top: 560PX;
  margin-left: 530px;
  }
  
  #slp,#xx,#wk,#et{
  padding: 60px;
  margin: 10px;
  }